{
	"ServiceUrl": "https://phoenix-it-solutions-mdk-dev-66qe26pc-dev-demotahaapp-srv.cfapps.eu10-005.hana.ondemand.com/service/demoTahaAppService",
	"OfflineEnabled": false,
	"SourceType": "ServiceURL"
}